In [1]:
print("hello")

hello

import pandas as pd
 
dataframe = pd.read_excel('Math.xlsx')
 
print(dataframe)

In [2]:
import pandas as pd

dataframe = pd.read_excel('Math.xlsx')
 
print(dataframe)

                - Shiv Kumar  221ADB137              Shiv-Kumar.S@edu.rtu.lv  \
0               - Vishav Raj  221ADB157              Vishav-Raj.V@edu.rtu.lv
1        Abdukodirov Sadulla  221ADB187       Sadulla.Abdukodirov@edu.rtu.lv
2            Adenov Bekassyl  221ADB130           Bekassyl.Adenov@edu.rtu.lv
3   Agboola Peter Iyanuoluwa  221ADB155  Peter-Iyanuoluwa.Agboola@edu.rtu.lv
4              Agdeniz Zehra  221ADB081             Zehra.Agdeniz@edu.rtu.lv
..                       ...        ...                                  ...
93               Yalcin Tuna  221ADB180               Tuna.Yalcin@edu.rtu.lv
94             Yenerkol Eren  211AMB051             Eren.Yenerkol@edu.rtu.lv
95     Yildiz Alperen Cengiz  221ADB192     Alperen-Cengiz.Yildiz@edu.rtu.lv
96        Zadyraka Oleksandr  220ADB052        Oleksandr.Zadyraka@edu.rtu.lv
97          Zakharov Oleksii  221ADB091          Oleksii.Zakharov@edu.rtu.lv

    1          Professor Jiri Janda
0   1          Professor Jiri Janda
1   1          Professor Jiri Janda
2   1          Professor Jiri Janda
3   1          Professor Jiri Janda
4   1          Professor Jiri Janda
.. ..                           ...
93  3  Professor Shraddha Christian
94  3  Professor Shraddha Christian
95  3  Professor Shraddha Christian
96  3  Professor Shraddha Christian
97  3  Professor Shraddha Christian

[98 rows x 5 columns]

In [27]:
import csv
import numpy as np
file = open('Food Prices.csv')

file = csv.reader(file)

In [16]:
header

['Country ',
 'Year ',
 'Month ',
 'Food Item ',
 'Unit of Measurement',
 'Average Price ',
 'Currency ',
 'Price in USD',
 'Availability ',
 'Quality ']