In [1]:
print("hello")

hello

import pandas as pd
 
dataframe = pd.read_excel('Math.xlsx')
 
print(dataframe)

In [2]:
import pandas as pd

dataframe = pd.read_excel('Math.xlsx')
 
print(dataframe)

                - Shiv Kumar  221ADB137              Shiv-Kumar.S@edu.rtu.lv  \
0               - Vishav Raj  221ADB157              Vishav-Raj.V@edu.rtu.lv
1        Abdukodirov Sadulla  221ADB187       Sadulla.Abdukodirov@edu.rtu.lv
2            Adenov Bekassyl  221ADB130           Bekassyl.Adenov@edu.rtu.lv
3   Agboola Peter Iyanuoluwa  221ADB155  Peter-Iyanuoluwa.Agboola@edu.rtu.lv
4              Agdeniz Zehra  221ADB081             Zehra.Agdeniz@edu.rtu.lv
..                       ...        ...                                  ...
93               Yalcin Tuna  221ADB180               Tuna.Yalcin@edu.rtu.lv
94             Yenerkol Eren  211AMB051             Eren.Yenerkol@edu.rtu.lv
95     Yildiz Alperen Cengiz  221ADB192     Alperen-Cengiz.Yildiz@edu.rtu.lv
96        Zadyraka Oleksandr  220ADB052        Oleksandr.Zadyraka@edu.rtu.lv
97          Zakharov Oleksii  221ADB091          Oleksii.Zakharov@edu.rtu.lv

    1          Professor Jiri Janda
0   1          Professor Jiri Janda
1   1          Professor Jiri Janda
2   1          Professor Jiri Janda
3   1          Professor Jiri Janda
4   1          Professor Jiri Janda
.. ..                           ...
93  3  Professor Shraddha Christian
94  3  Professor Shraddha Christian
95  3  Professor Shraddha Christian
96  3  Professor Shraddha Christian
97  3  Professor Shraddha Christian

[98 rows x 5 columns]

In [37]:
import csv

import numpy as np

file = open('Food Prices.csv')
rows = []

main = csv.reader(file,  delimiter=',')


for row in main:
    s = ' '.join(row)
    print(np.genfromtxt(s, delimiter=" "))

Country  Year  Month  Food Item  Unit of Measurement Average Price  Currency  Price in USD Availability  Quality
Australia 2018 1 Bread Loaf 2.20 AUD 1.47 1 High
Australia 2018 2 Bread Loaf 2.20 AUD 1.48 1 High
Australia 2018 3 Bread Loaf 2.20 AUD 1.48 1 High
Australia 2018 4 Bread Loaf 2.21 AUD 1.48 1 High
Australia 2018 5 Bread Loaf 2.21 AUD 1.48 1 High
Australia 2018 6 Bread Loaf 2.22 AUD 1.49 1 High
Australia 2018 7 Bread Loaf 2.22 AUD 1.49 1 High
Australia 2018 8 Bread Loaf 2.22 AUD 1.49 1 High
Australia 2018 9 Bread Loaf 2.23 AUD 1.50 1 High
Australia 2018 10 Bread Loaf 2.23 AUD 1.50 1 High
Australia 2018 11 Bread Loaf 2.24 AUD 1.50 1 High
Australia 2018 12 Bread Loaf 2.24 AUD 1.50 1 High
Australia 2019 1 Bread Loaf 2.24 AUD 1.51 1 High
Australia 2019 2 Bread Loaf 2.25 AUD 1.51 1 High
Australia 2019 3 Bread Loaf 2.26 AUD 1.52 1 High
Australia 2019 4 Bread Loaf 2.27 AUD 1.53 1 High
Australia 2019 5 Bread Loaf 2.28 AUD 1.53 1 High
Australia 2019 6 Bread Loaf 2.29 AUD 1.54 1 High
Australia 2019 7 Bread Loaf 2.30 AUD 1.55 1 High
Australia 2019 8 Bread Loaf 2.31 AUD 1.55 1 High
Australia 2019 9 Bread Loaf 2.32 AUD 1.56 1 High
Australia 2019 10 Bread Loaf 2.33 AUD 1.57 1 High
Australia 2019 11 Bread Loaf 2.34 AUD 1.57 1 High
Australia 2019 12 Bread Loaf 2.35 AUD 1.58 1 High
Australia 2020 1 Bread Loaf 2.36 AUD 1.59 1 High
Australia 2020 2 Bread Loaf 2.37 AUD 1.59 1 High
Australia 2020 3 Bread Loaf 2.37 AUD 1.59 1 High
Australia 2020 4 Bread Loaf 2.37 AUD 1.59 1 High
Australia 2020 5 Bread Loaf 2.38 AUD 1.59 1 High
Australia 2020 6 Bread Loaf 2.38 AUD 1.60 1 High
Australia 2020 7 Bread Loaf 2.38 AUD 1.60 1 High
Australia 2020 8 Bread Loaf 2.39 AUD 1.60 1 High
Australia 2020 9 Bread Loaf 2.39 AUD 1.60 1 High
Australia 2020 10 Bread Loaf 2.39 AUD 1.60 1 High
Australia 2020 11 Bread Loaf 2.39 AUD 1.61 1 High
Australia 2020 12 Bread Loaf 2.40 AUD 1.61 1 High
Australia 2021 1 Bread Loaf 2.40 AUD 1.61 1 High
Australia 2021 2 Bread Loaf 2.43 AUD 1.63 1 High
Australia 2021 3 Bread Loaf 2.45 AUD 1.64 1 High
Australia 2021 4 Bread Loaf 2.48 AUD 1.66 1 High
Australia 2021 5 Bread Loaf 2.50 AUD 1.68 1 High
Australia 2021 6 Bread Loaf 2.53 AUD 1.69 1 High
Australia 2021 7 Bread Loaf 2.55 AUD 1.71 1 High
Australia 2021 8 Bread Loaf 2.58 AUD 1.73 1 High
Australia 2021 9 Bread Loaf 2.60 AUD 1.74 1 High
Australia 2021 10 Bread Loaf 2.63 AUD 1.76 1 High
Australia 2021 11 Bread Loaf 2.65 AUD 1.78 1 High
Australia 2021 12 Bread Loaf 2.68 AUD 1.80 1 High

In [35]:
np.genfromtxt(StringIO(main), delimiter=",")

TypeError: initial_value must be str or None, not _csv.reader

In [20]:
print(main)

<_csv.reader object at 0x0000020F0F9EF128>